src/PlatformService/bin/Debug/net7.0/appsettings.Development.json
src/PlatformService/bin/Debug/net7.0/appsettings.json
src/PlatformService/bin/Debug/net7.0/AutoMapper.dll
src/PlatformService/bin/Debug/net7.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
src/PlatformService/bin/Debug/net7.0/Azure.Core.dll
src/PlatformService/bin/Debug/net7.0/Azure.Identity.dll
src/PlatformService/bin/Debug/net7.0/Humanizer.dll
src/PlatformService/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
src/PlatformService/bin/Debug/net7.0/Microsoft.Bcl.AsyncInterfaces.dll
src/PlatformService/bin/Debug/net7.0/Microsoft.Data.SqlClient.dll
src/PlatformService/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
src/PlatformService/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Design.dll
src/PlatformService/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
src/PlatformService/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.InMemory.dll
src/PlatformService/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Relational.dll
src/PlatformService/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.SqlServer.dll
src/PlatformService/bin/Debug/net7.0/Microsoft.Extensions.DependencyModel.dll
src/PlatformService/bin/Debug/net7.0/Microsoft.Identity.Client.dll
src/PlatformService/bin/Debug/net7.0/Microsoft.Identity.Client.Extensions.Msal.dll
src/PlatformService/bin/Debug/net7.0/Microsoft.IdentityModel.Abstractions.dll
src/PlatformService/bin/Debug/net7.0/Microsoft.IdentityModel.JsonWebTokens.dll
src/PlatformService/bin/Debug/net7.0/Microsoft.IdentityModel.Logging.dll
src/PlatformService/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.dll
src/PlatformService/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
src/PlatformService/bin/Debug/net7.0/Microsoft.IdentityModel.Tokens.dll
src/PlatformService/bin/Debug/net7.0/Microsoft.OpenApi.dll
src/PlatformService/bin/Debug/net7.0/Microsoft.SqlServer.Server.dll
src/PlatformService/bin/Debug/net7.0/Microsoft.Win32.SystemEvents.dll
src/PlatformService/bin/Debug/net7.0/Mono.TextTemplating.dll
src/PlatformService/bin/Debug/net7.0/PlatformService.deps.json
src/PlatformService/bin/Debug/net7.0/PlatformService.dll
src/PlatformService/bin/Debug/net7.0/PlatformService.exe
src/PlatformService/bin/Debug/net7.0/PlatformService.pdb
src/PlatformService/bin/Debug/net7.0/PlatformService.runtimeconfig.json
src/PlatformService/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
src/PlatformService/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
src/PlatformService/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
src/PlatformService/bin/Debug/net7.0/System.CodeDom.dll
src/PlatformService/bin/Debug/net7.0/System.Configuration.ConfigurationManager.dll
src/PlatformService/bin/Debug/net7.0/System.Drawing.Common.dll
src/PlatformService/bin/Debug/net7.0/System.IdentityModel.Tokens.Jwt.dll
src/PlatformService/bin/Debug/net7.0/System.Memory.Data.dll
src/PlatformService/bin/Debug/net7.0/System.Runtime.Caching.dll
src/PlatformService/bin/Debug/net7.0/System.Security.Cryptography.ProtectedData.dll
src/PlatformService/bin/Debug/net7.0/System.Security.Permissions.dll
src/PlatformService/bin/Debug/net7.0/System.Windows.Extensions.dll
src/PlatformService/bin/Debug/net7.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
src/PlatformService/bin/Debug/net7.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
src/PlatformService/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
src/PlatformService/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
src/PlatformService/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
src/PlatformService/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
src/PlatformService/bin/Debug/net7.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
src/PlatformService/bin/Debug/net7.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
src/PlatformService/bin/Debug/net7.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
src/PlatformService/bin/Debug/net7.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
src/PlatformService/bin/Debug/net7.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
src/PlatformService/bin/Debug/net7.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
src/PlatformService/obj/PlatformService.csproj.nuget.dgspec.json
src/PlatformService/obj/PlatformService.csproj.nuget.g.props
src/PlatformService/obj/PlatformService.csproj.nuget.g.targets
src/PlatformService/obj/project.assets.json
src/PlatformService/obj/project.nuget.cache
src/PlatformService/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
src/PlatformService/obj/Debug/net7.0/apphost.exe
src/PlatformService/obj/Debug/net7.0/PlatformService.AssemblyInfo.cs
src/PlatformService/obj/Debug/net7.0/PlatformService.AssemblyInfoInputs.cache
src/PlatformService/obj/Debug/net7.0/PlatformService.assets.cache
src/PlatformService/obj/Debug/net7.0/PlatformService.csproj.AssemblyReference.cache
src/PlatformService/obj/Debug/net7.0/PlatformService.csproj.CopyComplete
src/PlatformService/obj/Debug/net7.0/PlatformService.csproj.CoreCompileInputs.cache
src/PlatformService/obj/Debug/net7.0/PlatformService.csproj.FileListAbsolute.txt
src/PlatformService/obj/Debug/net7.0/PlatformService.dll
src/PlatformService/obj/Debug/net7.0/PlatformService.GeneratedMSBuildEditorConfig.editorconfig
src/PlatformService/obj/Debug/net7.0/PlatformService.genruntimeconfig.cache
src/PlatformService/obj/Debug/net7.0/PlatformService.GlobalUsings.g.cs
src/PlatformService/obj/Debug/net7.0/PlatformService.MvcApplicationPartsAssemblyInfo.cache
src/PlatformService/obj/Debug/net7.0/PlatformService.MvcApplicationPartsAssemblyInfo.cs
src/PlatformService/obj/Debug/net7.0/PlatformService.pdb
src/PlatformService/obj/Debug/net7.0/staticwebassets.build.json
src/PlatformService/obj/Debug/net7.0/ref/PlatformService.dll
src/PlatformService/obj/Debug/net7.0/refint/PlatformService.dll
src/PlatformService/obj/Debug/net7.0/staticwebassets/msbuild.build.PlatformService.props
src/PlatformService/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.PlatformService.props
src/PlatformService/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.PlatformService.props
